@model IEnumerable<EczaneDEMOo.Models.Entities.Kullanici>

@{
    ViewBag.Title = "Kullanıcı Görüntüleme Sayfası";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<h2>Kullanıcılar</h2>

<p>
    <a href="@Url.Action("Ekle")" class="btn btn-primary">Kayıt Ekle</a>
</p>

<table class="table">
    <tr>
        <th>
            Rol Adı
        </th>
        <th>
            Adı
        </th>
        <th>
            Soyadı
        </th>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Şifresi
        </th>
        <th>
            Telefon Numarası
        </th>
        <th>
            E Posta Adresi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciRol.ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullaniciAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ePosta)
            </td>
            <td>
                <a href="@Url.Action("Duzenle", new { id = item.kullaniciID })" class="btn btn-primary">Düzenle</a> |
                <a href="@Url.Action("Sil", new { id = item.kullaniciID })" class="btn btn-danger">Sil</a>
            </td>

        </tr>
    }

</table>
