@model IEnumerable<EczaneDEMOo.Models.Entities.Satis>

@{
    ViewBag.Title = "Satışlar Tablosu";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
           Ilaç Adı
        </th>
        <th>
            Satıcı
        </th>
        <th>
            Musteri
        </th>
        <th>
            Satış Tarihi
        </th>
        <th>
            Satış Miktarı
        </th>
        <th>
            Satış Fiyatı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ilac.ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteri.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.satisTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
        </tr>
    }

</table>
