@model IEnumerable<EczaneDEMOo.Models.Entities.Recete>

@{
    ViewBag.Title = "Reçete Listesi";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<h1>Reçetelerin Listesi</h1>

<table class="table">
    <tr>
        <th>
            Doktor Adı
        </th>
        <th>
            İlaç Adı
        </th>
        <th>
            Müşteri Adı
        </th>
        <th>
            Reçete Numarası
        </th>
        <th>
            Miktarı
        </th>
        <th>
            Tarih
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ilac.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Musteri.adSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receteNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miktar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarih)
        </td>
    </tr>
}

</table>
