@model IEnumerable<EczaneDEMOo.Models.Entities.Ilac>

@{
    ViewBag.Title = "İlaç Tablosu";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<h1>İlaçlar</h1>

<table class="table">
    <tr>
        <th>
            İlaç Adı
        </th>
        <th>
            İlaç Açıklaması
        </th>
        <th>
            İlaç Fiyatı
        </th>
        <th>
            Stok Miktarı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stokMiktar)
        </td>
        <td>
            <a href="@Url.Action("Sil", new { id = item.ilacID })" class="btn btn-danger">Sil</a>
        </td>

    </tr>
}

</table>
