@model IEnumerable<EczaneDEMOo.Models.Entities.Ilac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stokMiktar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.silindiMi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stokMiktar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.silindiMi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ilacID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ilacID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ilacID })
        </td>
    </tr>
}

</table>
